@use '../../styles/utils' as *;
@use '../../styles/global' as *;
@use '../../styles/mediaQuery' as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  min-height: $mainWrapperHeight;
  padding-top: $headerHeight;
  margin: 0 auto;
}

.descriptionSection {
  display: flex;
  align-items: center;
  height: responsive-clamp(400px, 450px);
  padding: 0 20px;
  font-family: 'Bodoni 72', sans-serif;
  font-size: responsive-clamp(30px, 60px);
  text-align: center;
}

.linksSection {
  display: flex;
  align-items: center;
  height: responsive-clamp(100px, 150px);
}

.links {
  display: flex;
  gap: responsive-clamp(15px, 30px);
}

.link {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.imageSection {
  display: flex;
  gap: responsive-clamp(15px, 30px);
  align-items: center;
  height: responsive-clamp(120px, 150px);
}

.image {
  width: responsive-clamp(50px, 100px);
  height: responsive-clamp(50px, 100px);
}
