.nameSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 55px;
  font-weight: 500;
  font-family: 'Bodoni 72', sans-serif;
  margin-top: -12px;
  line-height: 68px;
}

.role {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  text-align: center;
}
