@use '../../styles/utils' as *;

.nameSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: responsive-clamp(150px, 200px);
}

.name {
  margin-top: -12px;
  font-family: 'Bodoni 72', sans-serif;
  font-size: responsive-clamp(50px, 60px);
  font-weight: 500;
  line-height: 68px;
}

.role {
  font-size: responsive-clamp(10px, 12px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
