@use '../../styles/utils' as *;

.articles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;

  @media (width <= 768px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.noArticles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: responsive-clamp(25px, 40px);
}
