@use './utils' as *;

// color
$white: #fff;
$black: #000;
$backgroundColor: $white;
$fontColor: $black;

// font-family
$font-bondi: 'Bodoni 72', sans-serif;
$font-arial: 'Arial';

// layout
$headerHeight: responsive-clamp(75px, 150px);
$mainWrapperHeight: calc(100vh - ($headerHeight * 2));
