@use '../../styles/global' as *;
@use '../../styles/mediaQuery' as *;
@use '../../styles/utils' as *;

.navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  height: $headerHeight;
  background-color: transparent;
}

@include min-media(lg) {
  .navigation {
    top: 0;
  }
}

.navs {
  position: relative;
  z-index: 100000;
  display: flex;
  gap: responsive-clamp(5px, 10px);
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 responsive-clamp(10px, 50px);
}

@include min-media(lg) {
  .navs {
    justify-content: flex-end;
  }
}

.navItem {
  position: relative;
  display: flex;
  flex: 0 1 responsive-clamp(50px, 100px);
  justify-content: center;
  font-family: $font-bondi;
  font-size: responsive-clamp(20px, 30px);
  font-weight: 500;

  &::after {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    content: '';
    background: $black;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
  }

  &.active::after {
    transform: scaleX(1);
  }
}
