@use '../../styles/global' as *;
@use '../../styles/mediaQuery' as *;

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  height: $headerHeight;
  background-color: $black;
}

@include max-media('md') {
  .navigation {
    display: none;
  }
}

@include max-media('xs') {
  .navigation {
    display: none;
  }
}

.navs {
  position: relative;
  z-index: 100000;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0 15px;
}

.navItem {
  position: relative;
  display: flex;
  flex: 0 1 75px;
  justify-content: center;
  font-family: 'Bodoni 72', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;

  &::after {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    content: '';
    background: white;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
  }

  &.active::after {
    transform: scaleX(1);
  }
}
